footer {
  background-color: rgb(22, 24, 78);
  color: #fff;
  font-size: var(--body-font-size-xs, 14px);
}

footer .footer {
  visibility: hidden;
}

footer .footer[data-block-status="loaded"] {
  visibility: visible;
}

footer .footer > div {
  max-width: 100%;
  padding: 0;
}

footer .section {
  margin: 0;
}

footer .section > div {
  max-width: 100%;
  padding: 0;
  margin: 0;
}

footer ul {
  list-style: none;
  margin: 0;
  padding: 24px 24px 16px;
}

footer ul li {
  margin-bottom: 8px;
}

footer ul li::before {
  content: ">";
  color: rgb(191, 213, 247);
  margin-right: 8px;
  font-size: 12px;
}

footer ul li a:any-link {
  color: rgb(191, 213, 247);
  text-decoration: none;
  font-size: 14px;
}

footer ul li a:hover {
  text-decoration: underline;
}

footer p {
  margin: 0;
  padding: 0 24px 8px;
  color: rgb(191, 213, 247);
  font-size: 14px;
  line-height: 1.5;
}

footer p:last-child {
  padding-bottom: 40px;
}

@media (width >= 900px) {
  footer ul {
    padding: 24px 32px 16px;
    display: flex;
    flex-wrap: wrap;
    gap: 4px 20px;
  }

  footer ul li {
    margin-bottom: 0;
  }

  footer p {
    padding: 0 32px 8px;
  }

  footer p:last-child {
    padding-bottom: 40px;
  }
}
